<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheRandomizerWPF.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
		<section name="appSetting" type="System.Configuration.AppSettings, System, Version=2.0.0.0" />
    </configSections>
    <system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="TraceLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceOutput.log"/>
				<remove name="Default"/>
			</listeners>
		</trace>
    </system.diagnostics>
	<appSettings>
		<add key="RenderEngine" value="HtmlRenderer"/>
	</appSettings>
    <userSettings>
        <TheRandomizerWPF.MySettings>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrammarFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultResultFont" serializeAs="String">
                <value>Consolas, 12pt</value>
            </setting>
            <setting name="ThemeAccent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="GeneratorsWidth" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="DetailsWidth" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ShowLoadErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
        </TheRandomizerWPF.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
